.chat-page {
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;

  &__users {
    width: 20%;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    background-color: var(--color-arrow-background);

    &_user-profile {
      display: flex;
      width: 100%;
      height: 56px;
      align-items: center;
      justify-content: space-between;

      span {
        display: inline-flex;
        align-items: center;
        color: var(--color-grey);
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        gap: 8px;
        line-height: 12px;
      }
    }

    &_user-search {
      display: flex;
      width: 100%;
      height: 32px;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      background-color: var(--color-search-background);

      span {
        display: inline-flex;
        align-items: center;
        color: var(--color-grey);
        font-size: 12px;
        font-weight: 500;
        gap: 4px;
        line-height: 12px;
      }
    }

    &_users-list {
      display: flex;
      overflow: auto;
      width: 100%;
      max-height: calc(100% - 88px);
      flex-direction: column;
      padding-top: 8px;
    }
  }

  &__messages {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--color-grey-2);
    padding-inline: 20px;

    &_messages-start {
      display: flex;
      width: 100%;
      height: calc(100% - 54px);
      align-items: center;
      justify-content: center;
    }

    &_inputs {
      display: flex;
      width: 100%;
      height: 54px;
      align-items: center;
      align-self: flex-end;
      justify-content: center;
      border-top: 1px solid var(--color-grey-2);
    }

    &_page {
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
    }

    &_messages {
      display: flex;
      width: 100%;
      min-height: 100%;
      flex-direction: column;
      justify-content: flex-end;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      gap: 8px;
      line-height: 15px;
      padding-block: 8px;
    }

    &_page-chat {
      width: 100%;
      height: calc(100vh - 135px);
      overflow-y: scroll;
    }

    &_page-controls {
      display: flex;
      width: 100%;
      height: 96px;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid var(--color-grey-2);

      &-avatar {
        overflow: hidden;
        width: 45px;
        border-radius: 50%;
        aspect-ratio: 1;
        background-color: var(--color-grey);
      }

      &-title {
        font-size: 13px;
        font-weight: 600;
        line-height: 13px;
      }

      &-left {
        display: flex;
        gap: 16px;
      }

      &-right {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }
  }
}

.message {
  max-width: 40%;
  padding: 12px;
  border-radius: 30px;
  background-color: var(--color-search-background);

  &__left {
    align-self: flex-start;
  }

  &__right {
    align-self: flex-end;
  }
}
