<div class="extra-page__container">
  <div class="extra-page__error-code">{{errorCode}}</div>
  <div class="extra-page__info-text">{{infoText}}</div>
  <div class="extra-page__redirect">
    {{> Link}}
  </div>
</div>
