.custom-input {
  &__input {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 1px solid var(--color-blue);
    appearance: none;
    font-size: 13px;
    line-height: 13px;
    outline: none;

    &_no-border {
      width: 100%;
      border: none;
      color: var(--color-grey);
      text-align: right;

      &:focus-visible {
        border: none;
        outline: none;
      }
    }
  }

  &__container {
    position: relative;
    width: 280px;
    height: 20px;
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-grey);
    font-size: 13px;
    line-height: 13px;
    transition: all 0.2s ease-in;
  }

  &__input:focus + &__label,
  &__input:valid + &__label {
    left: 0;
    transform: translateY(-17px) scale(0.8);
  }

  &__error-text {
    display: inline-block;
    width: 100%;
    color: var(--color-danger);
    font-size: 8px;
    line-height: 8px;
    text-align: center;
  }

  &__error-text_no-border {
    display: inline-block;
    width: 100%;
    padding-top: 8px;
    color: var(--color-danger);
    font-size: 8px;
    line-height: 8px;
    text-align: right;
  }
}
