.custom-button {
  width: 100%;
  min-width: 50px;
  border: none;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  padding-block: 12px;

  &:active {
    transform: translateY(1px);
  }
}
