.chat-user-block {
  display: flex;
  width: 100%;
  height: 70px;
  border-top: 1px solid var(--color-grey-2);
  padding-block: 12px;

  &_hovered {
    background-color: var(--color-search-background);
  }

  &__avatar-wrapper {
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: center;
  }

  &__avatar {
    overflow: hidden;
    width: 45px;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--color-grey);
  }

  &__avatar-image {
    width: 100%;
  }

  &__info {
    display: grid;
    width: 100%;
    gap: 4px 8px;
    grid-template-areas:
      "title time"
      "preview count";
    grid-template-columns: calc(100% - 33px) 20px;
  }

  &__username {
    font-size: 13px;
    font-weight: 600;
    grid-area: title;
    line-height: 13px;
  }

  &__message-preview {
    display: -webkit-box;
    overflow: hidden;
    height: 30px;
    -webkit-box-orient: vertical;
    color: var(--color-grey);
    font-size: 12px;
    font-weight: 500;
    grid-area: preview;
    -webkit-line-clamp: 2;
    line-height: 15px;
    text-overflow: ellipsis;
  }

  &__time {
    color: var(--color-grey);
    font-size: 9px;
    font-weight: 500;
    grid-area: time;
    line-height: 13px;
  }

  &__count {
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-top: 4px;
    aspect-ratio: 1;
    background-color: var(--color-blue);
    color: var(--color-white);
    font-size: 11px;
    font-weight: 500;
    grid-area: count;
    line-height: 12px;
  }
}
