<div class="chat-user-block">
  <div class="chat-user-block__avatar-wrapper">
    <div class="chat-user-block__avatar"></div>
  </div>
  <div class="chat-user-block__info">
    <div class="chat-user-block__username">
      {{username}}
    </div>
    <div class="chat-user-block__message-preview">{{message}}</div>
    <div class="chat-user-block__time">{{time}}</div>
    {{#if messageCount}}
      <div class="chat-user-block__count">{{messageCount}}</div>
    {{/if}}

  </div>
</div>
