.user-avatar {
  &__container {
    display: flex;
    width: 130px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1;
    background-color: var(--color-grey-2);
  }
}
