<div class="user-page__container">
  <div class="user-page__arrow">
    {{> LeftArrow}}
  </div>

  <div class="user-page__page">
    <div class="user-page__layout">
      <div class="user-page__avatar">
        {{# if editAvatar}}
          {{> UploadAvatar}}
        {{else}}
          {{> UserAvatar}}
        {{/if}}
      </div>


      {{#if userTitle}}
      <div class="user-page__title">{{userTitle}}</div>
      {{/if}}

      <div class="user-page__user-info-blocks">
        {{#each infoBlocks}}
          {{> UserInfoBlock}}
        {{/each}}
      </div>

      {{#if redirectLinks}}
        <div class="user-page__user-redirect-links">
          {{#each redirectLinks}}
            {{> UserInfoBlock}}
          {{/each}}
        </div>
      {{else}}
        <div class="user-page__user-save-button">
          {{> Button}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
