@import url("./components/index.css");
@import url("./pages/index.css");

:root {
  --font-default: #1e1e1e;
  --color-white: #fff;
  --color-blue: #3369f3;
  --color-grey: #999;
  --color-grey-2: #eaeaea;
  --color-arrow-background: #fbfbfb;
  --color-search-background: #efefef;
  --color-danger: #f00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  color: var(--font-default);
  font-family: Inter, Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
